@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    border-color: rgba(0, 0, 0, 0.568);
}

button {
    cursor: pointer;
}

.darkmode {
    background-color: black;

    * {
        border-color: white !important;

    }
    input,textarea{
        background-color: transparent ;
    }
}